* {
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chef-image {
    height: 400px;
    width: 500px;
    border: 2px solid black;
}

.food-image {
    height: 400px;
    width: 500px;
}

.center-text {
    text-align: center;
}

li, a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}